
<h1>Probando PrimeNG</h1>
<hr>
<br>
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" pInputText>
  <label for="float-input">Username</label>
</span>

<br>

<div class="ui-g-12 ui-md-4">
  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="Website">
    <span class="ui-inputgroup-addon"><p-checkbox></p-checkbox></span>
  </div>
</div>
<br>

<p-card>
  <p-header>
    Header content here
  </p-header>
  Body Content
  <p-footer>
    Footer content here
  </p-footer>
</p-card>
