<p-growl openTo="body" [value]="msgs" life="1500"> </p-growl>

<div class="ui-g">
  <div class="ui-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Barrio</h3>
        <div class="ui-fluid">
          <p-autoComplete
            [suggestions]="barrios"
            (completeMethod)="buscarBarrios($event)"
            field="nombre"
            placeholder="Buscar Barrio ..."
            [minLength]="3"
            (onSelect)="seleccionarBarrio($event)"
            (onClear)="clear()"
            emptyMessage="No existen coincidencias con su busqueda"
            forceSelection="true"
          >
            <ng-template let-sect pTemplate="SelectedItem">
              {{ sect.cuadrante.localidad.provincia.nombre }} -
              {{ sect.cuadrante.localidad.nombre }}
              <small>({{ sect.cuadrante.nombre }})</small> -
              <strong>{{ sect.nombre }}</strong>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hojaRuta">
    <div class="ui-md-12">
      <div class="card">
        <div class="card-body">
          <div class="ui-fluid">
            <p-table
              [value]="hojaRuta.hojas"
              [loading]="cargando"
              [paginator]="true"
              [rows]="10"
              [(selection)]="hojasSelected"
              dataKey="numero"
            >
              <ng-template pTemplate="header">
                <tr class="text-center">
                  <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width:60px">Nro.</th>
                  <th style="width:200px">Calle</th>
                  <th style="width:80px">Altura desde</th>
                  <th style="width:80px">Altura hasta</th>
                  <th style="width:90px">Registros</th>
                  <th style="width:180px">Vendedor</th>
                  <th style="width:100px">Estado</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td style="width: 3em">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td>{{ rowData.numero }}</td>
                  <td>{{ rowData.calle.nombre }}</td>
                  <td>{{ rowData.altura_desde }}</td>
                  <td>{{ rowData.altura_hasta }}</td>
                  <td>
                    <span class="badge badge-secondary">
                      {{ rowData.cant_registros }}
                    </span>
                    <button
                      type="button"
                      class="btn btn-link pull-right"
                      (click)="detalle(rowData)"
                    >
                      <small>detalle</small>
                    </button>
                  </td>
                  <td pEditableColumn class="pointer">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown
                          [options]="vendedores"
                          [(ngModel)]="rowData.asignada_a"
                          [style]="{ width: '100%' }"
                          placeholder="Seleccionar"
                        >
                        </p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                          rowData.asignada_a? rowData.asignada_a.first_name + ", " + rowData.asignada_a.last_name : "Seleccionar" }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td class="text-center">
                    <span
                      [ngClass]="{
                        'badge badge-danger':
                          rowData.estado.nombre === 'Sin Asignar',
                        'badge badge-success':
                          rowData.estado.nombre === 'Asignada',
                          'badge badge-info':
                          rowData.estado.nombre === 'Cerrada'
                      }"
                    >
                      {{ rowData.estado.nombre }}
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div *ngIf="(hojasSelected.length > 0 && hojasSelected[0].asignada_a!== null ) ">
        <div class="ui-fluid">
        <button
          pButton
          class="ui-button-success ui-state-hover"
          label="Imprimir"
          (click)="imprimir()"
          style="height:76px"
        ></button>
       </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hojaDetalleSelected?.length > 0" class="animated fadeIn">
  <app-hoja-detail
    [display]="displayModal"
    [hojaDetalle]="hojaDetalleSelected"
    (displayInfo)="onDialogClose($event)"
  ></app-hoja-detail>
</div>

<div *ngIf="ruta" class="animated fadeIn">
  <app-pdf-modal
    [displayPDF]="displayModalPDF"
    [pdfRuta]="ruta"
    (displayInfo)="onDialogClosePDF($event)"
  ></app-pdf-modal>
</div>

<!-- <pre>
 {{ hojaRuta | json }}
  {{ hojasSelected | json }}
</pre>
 -->
