
<p-growl openTo="body" [value]="msgs" life="15000">
</p-growl>

<div class="text-center" *ngIf="cargando">
  <p-progressSpinner>
  </p-progressSpinner>
  <br> Cargando...
</div>

<div class="row" animated fadeIn *ngIf="!cargando">
  <div class="col-12">
    <div class="card" >
      <div class="card-body">
        <div class="text-right">
          <button (click)="newProvincia()" class="btn btn-success">
            Crear Provincia
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <h3 class="card-title">
          Provincias Registradas :
          <span class="badge bg-secondary">
            <strong>{{ dt.totalRecords? dt.totalRecords : 0 }} </strong>
          </span>
        </h3>

        <input #gb type="text" class="form-control" placeholder=" Buscar Provincia ...">
        <br>
        <br>

        <p-dataTable #dt [value]="provincias" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb"
          [responsive]="true" [emptyMessage]="'No hay registros para mostrar'" rowHover="true" [immutable]="false">

          <p-column field="id" header="ID" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
          <p-column field="nombre" header="NOMBRE"></p-column>
          <p-column header="OPCIONES" [style]="{'width':'200px','text-align':'center'}">
            <ng-template let-provincia="rowData" pTemplate="body">
              <button type="button" pButton icon="fa-pencil" class="ui-button-success" (click)="selectProvincia(provincia)"></button>
              <button type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="borrarProvincia(provincia)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>


 <div *ngIf="provinciaSelected" class="animated fadeIn">
  <app-provincia-detail [provincia]="provinciaSelected" [display]="display" [tituloOption]="(nuevo) ? 'Nueva Provincia' : 'Editar Provincia'"
    (provinciaInfo)="guardarProvincia($event)" (displayInfo)="onDialogClose($event)"></app-provincia-detail>
 </div>

<p-confirmDialog #cd [responsive]="true">
  <p-footer>
    <button type="button" pButton icon="fa-check" class="ui-button-success" label="Aceptar" (click)="cd.accept()"></button>
    <button type="button" pButton icon="fa-close" class="ui-button-danger" label="Cancelar" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>


