<!-- <div class="row" animated fadeIn>
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input type="text" class="form-control" placeholder="Buscar provincia ...">

      </div>
    </div>
  </div>
</div>
 -->
<!--
<app-cargando *ngIf="cargando"></app-cargando>

<div class="row" animated fadeIn *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button (click)="crearProvincia()" class="btn btn-success">
            Crear Provincia
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <h3 class="card-title">
          Provincias Registradas :
          <span class="badge bg-secondary">
            <strong>{{totalRegistros}} </strong>
          </span>
        </h3>

        <div [hidden]="!provincias">

          <input #input type="text" class="form-control" placeholder=" Buscar provincia ...">
          <br>

          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="w150">
                  <i class="fa fa-key"></i> Id</th>
                <th>
                  <i class="fa fa-list-alt"></i> Provincia</th>
                <th>
                  <i class="fa fa-ellipsis-h"></i> Opciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of provincias | paginate: {itemsPerPage: 5, currentPage:page, id: '1'} ;let i= index; let l = count">
                <td>
                  {{ item.IdProvincia }}
                </td>
                <td (click)="edit(item)">
                  <span *ngIf="item !== editProv">{{ item.nombre }}</span>
                  <input *ngIf="item === editProv" [(ngModel)]="item.nombre " name="nombre" type="text" class="form-control pointer">
                </td>
                <td>
                  <button (click)="actualizarProvincia(item)" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                  </button>
                  <button (click)="borrarProvincia(item)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-center">
            <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true" previousLabel=""
              nextLabel="">
            </pagination-controls>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
 -->
