<div class="row">

  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Alta de usuarios</font>
          </font>
        </h4>
        <h6 class="card-subtitle">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">sera necesario?</font>
          </font>
        </h6>
        <form class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Nombre de usuario</font>
              </font>
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-user"></i>
              </div>
              <input type="text" class="form-control" id="exampleInputuname" placeholder="Nombre de Usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Dirección de correo electrónico</font>
              </font>
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-email"></i>
              </div>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electronico">
            </div>
          </div>
          <div class="form-group">
            <label for="pwd1">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Contraseña</font>
              </font>
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-lock"></i>
              </div>
              <input type="password" class="form-control" id="pwd1" placeholder="contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="pwd2">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Confirmar contraseña</font>
              </font>
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="ti-lock"></i>
              </div>
              <input type="password" class="form-control" id="pwd2" placeholder="confirmar contraseña">
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-success">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;"> Recuérdame </font>
                </font>
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Enviar</font>
            </font>
          </button>
          <button type="submit" class="btn btn-inverse waves-effect waves-light">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Cancelar</font>
            </font>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Carga de archivos5</font>
          </font>
        </h4>
        <label for="input-file-max-fs">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Puede agregar un tamaño máximo de archivo</font>
          </font>
        </label>
        <div class="dropify-wrapper has-preview">
          <div class="dropify-message">
            <span class="file-icon"></span>
            <p>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Arrastra y suelta un archivo aquí o haz clic</font>
              </font>
            </p>
            <p class="dropify-error">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Ooops, algo mal anexado.</font>
              </font>
            </p>
          </div>
          <div class="dropify-loader" style="display: none;"></div>
          <div class="dropify-errors-container">
            <ul></ul>
          </div>
          <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M">
          <button type="button" class="dropify-clear">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">retirar</font>
            </font>
          </button>
          <div class="dropify-preview" style="display: block;">
            <span class="dropify-render">
              <img src="">
            </span>
            <div class="dropify-infos">
              <div class="dropify-infos-inner">
                <p class="dropify-filename">
                  <span class="file-icon"></span>
                  <span class="dropify-filename-inner">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">2_3.jpg</font>
                    </font>
                  </span>
                </p>
                <p class="dropify-infos-message">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Arrastra y suelta o haz clic para reemplazar</font>
                  </font>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
