<div class="ui-md-12">
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">Filtros:</h4>
      <div class="ui-g ui-fluid">
        <div class="ui-md-6">
          <p-dropdown
            [options]="anio"
            [(ngModel)]="currentAnio"
            placeholder="Seleccione Año"
            [style]="{ width: '100%' }"
          >
          </p-dropdown>
        </div>
        <div class="ui-md-4 ui-md-offset-1">
          <button
            pButton
            class="ui-button-success ui-state-hover"
            label="Buscar"
            (click)="generarReporte()"
            style="height:40px ; width:100%"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
