<!-- <section id="wrapper"
class="welcom"
 style="background-image:url(../assets/images/background/user-info.jpg);">

 <div class="text-center">
   Bienvenidos a IGHOR
 </div>
</section>
 -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <section id="wrapper" class="error-page">
    <div class="error-box">
      <div class="error-body text-center">

        <h3 class="text-uppercase">Bienvenidos a Ighor !</h3>
        <p class="text-muted m-t-30 m-b-30">Sistema de Gestión de Hojas de Rutas</p>

      </div>
      <br><br><br><br>
    <div class="ui-g-offset-8 text-rigth" >
      <ul>
        <a href="https://github.com/EnzoPasse/web-ighor">Enzo Passetti</a>
      </ul>
      <ul>
          <a href="">Ruben Gocio</a>
      </ul>
      <ul>
          <a href="">Marina Gadea</a>
      </ul>
      <ul>
          <a href="">Dominique Barrozo</a>
      </ul>
      <ul>
          <a href="">Dario Tomatis</a>
      </ul>
    </div>
      <footer class="footer text-center">© {{year}} IGhor.</footer>
    </div>
  </section> -->
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
