/***************
 CURSOR
 ***************/
.pointer {
  cursor: pointer;
}

/***************
ANCHOS
****************/

.w150 {
  width: 150px;
}
.w70 {
  width: 70px;
}

.mt10 {
  margin-top: 10px;
}

/************************************************
 TOOGLE BUTTON
 ************************************************/
.ui-togglebutton,
.ui-selectButton {
  height: 100%;
}
.ui-togglebutton {
  border-radius: 4px;
}

/************************************************
 CAMBIANDO LA FUENTE DE LOS COMPONENTES PRIMENG
 ************************************************/
.ui-datatable,
.ui-table,
.ui-paginator,
.ui-dialog,
.ui-inputtext,
.ui-growl,
.ui-autocomplete-items,
.ui-autocomplete-list-item,
.ui-autocomplete > .ui-inputtext {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

/***************************************
 AUTOCOMPLETE
 ****************************************/

.ui-autocomplete-dropdown {
  width: 16px;
  height: 100%;
  position: absolute;
}

/***************************************
 DATA TABLE
 ****************************************/
.ui-datatable .ui-datatable-thead > tr > th {
  background-color: aliceblue;
  height: 50px;
}

.ui-table .ui-table-thead > tr > th {
  background-color: aliceblue;
  height: 50px;
}
.ui-paginator-rpp-options {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.ui-cell-data {
  padding: 10px;
  border: 10px;
}

/*****************
  VALIDADORES
*****************/

/* .ng-valid[required],
.ng-valid.required {
  border-left: 3px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 3px solid #a94442;
}
*/

/****NUEVO*****/

.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 2px solid #a94442; /* red */
}

p-autocomplete.ng-invalid {
  border-left: 0 none;
}

p-autocomplete.ng-touched.ng-dirty.ng-invalid
  > .ui-autocomplete
  > .ui-inputtext,
p-autocomplete.ng-invalid > .ui-autocomplete > .ui-inputtext[required] {
  border-left: 2px solid #a94442;
  /*   border-bottom: 1px solid #d6d6d6;
 */
}

/*
p-autocomplete.ng-valid[required] > .ui-autocomplete > .ui-inputtext,
p-autocomplete.ng-valid.required > .ui-autocomplete > .ui-inputtext,
p-autocomplete.ng-valid > .ui-autocomplete > .ui-inputtext[required] {
  border-left: 2px solid #42A948;
}

/* p-autocomplete > .ui-autocomplete > .ui-inputtext {
  padding: 6px 12px;
}
*/
