<p-growl openTo="body" [value]="msgs" life="1500">
</p-growl>

  <div class="row">
    <div class="col-8">
      <div class="card" style="padding-bottom: 12px">
        <div class="card-body">
          <h3 class="card-title"> Localidad / Sector </h3>
          <div class="ui-fluid">
            <p-autoComplete [suggestions]="sectores" (completeMethod)="buscarSectores($event)" field="nombre" placeholder="Buscar Localidad / Sector..."
              [minLength]="3" (onSelect)="cargarBarrios($event)" emptyMessage="No existen coincidencias con su busqueda">
              <ng-template let-sect pTemplate="SelectedItem">
                {{ sect.localidad.provincia.nombre }} - {{sect.localidad.nombre }} - <strong>{{sect.nombre}}</strong>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="height: 130px">
        <div class="card-body">
          <div class="alert alert-info" role="alert">
              <small> Busque o Seleccione la <strong>Localiadad / Sector</strong> para mostrar sus Barrios, o bien cambie su seleccion cuando lo necesite</small>
          </div>
        </div>
      </div>
    </div>

  </div>

<div class="text-center" *ngIf="cargando">
  <p-progressSpinner>
  </p-progressSpinner>
  <br> Cargando...
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card" *ngIf="sectorSelected">
      <div class="card-body">
        <div class="text-right">
          <button (click)="newBarrio()" class="btn btn-success">
            Crear Barrio
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <h3 class="card-title">
         Barrios Registradas en
         <strong>{{sectorSelected.localidad.provincia.nombre}} - {{ sectorSelected.localidad.nombre }} - {{ sectorSelected.nombre }} :</strong>
          <span class="badge bg-secondary">
            <strong>{{ dt.totalRecords? dt.totalRecords : 0 }} </strong>
          </span>
        </h3>

        <input #gb type="text" class="form-control" placeholder=" Buscar Localidad / Sector ...">
        <br>
        <br>

        <p-dataTable #dt [value]="barrios" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb"
          [responsive]="true" [emptyMessage]="'No hay registros para mostrar'" rowHover="true" [immutable]="false">

          <p-column field="id" header="ID" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
          <p-column field="nombre" header="NOMBRE"></p-column>
          <p-column field="codigo_postal" header="CODIGO POSTAL" [style]="{'width':'200px', 'text-align':'center'}"></p-column>
          <p-column header="OPCIONES" [style]="{'width':'200px','text-align':'center'}">
            <ng-template let-barrio="rowData" pTemplate="body">
              <button type="button" pButton icon="fa-pencil" class="ui-button-success" (click)="selectBarrio(barrio)"></button>
              <button type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="borrarBarrio(barrio)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<div *ngIf="barrioSelected" class="animated fadeIn">
  <app-barrio-detail [barrio]="barrioSelected" [displayOption]="true" [tituloOption]="(nuevo) ? 'Nuevo Barrio' : 'Editar Barrio'"
    (barrioInfo)="guardarBarrio($event)"></app-barrio-detail>
</div>

<p-confirmDialog #cd [responsive]="true">
  <p-footer>
    <button type="button" pButton icon="fa-check" class="ui-button-success" label="Aceptar" (click)="cd.accept()"></button>
    <button type="button" pButton icon="fa-close" class="ui-button-danger" label="Cancelar" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

